@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/fonts/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Arial-Italic";
  src: url("../../assets/fonts/fonts/fonts/arial/arial-italic.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/fonts/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

.body__active {
  overflow: hidden;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  width: 100%;
}

.header__menu-padding {
  padding: 3rem 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 4rem;
}
@media (max-width: 992px) {
  .wrapper {
    padding-right: calc(3rem + 3 * (100vw - 768px) / 512);
    padding-left: calc(3rem + 3 * (100vw - 768px) / 512);
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-right: calc(1rem + 1 * (100vw - 320px) / 447);
    padding-left: calc(1rem + 1 * (100vw - 320px) / 447);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .menu {
    justify-content: flex-start;
    gap: calc(6.4rem - 444.8 * (100vw - 320px) / -447);
    padding-left: 1rem;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  cursor: pointer;
}
@media (max-width: 992px) {
  .logo {
    align-items: center;
  }
}
.logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 1s;
}
.logo__title:hover {
  color: #f1cdb3;
  transition: 0.4s;
}
.logo__discribe {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  color: #292929;
}

.hamburger {
  display: none;
}

@media (min-width: 992px) {
  .navigation {
    width: 37%;
  }
}
@media (max-width: 1200px) {
  .navigation {
    width: calc(53% + 16 * (100vw - 993px) / 207);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navigation {
    width: 62.7%;
  }
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media (min-width: 992px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.navigation__list-item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
  cursor: pointer;
}

.list-item_active {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #292929;
  cursor: default;
}
.list-item_active::after {
  position: absolute;
  content: "";
  width: 6rem;
  height: 3px;
  display: block;
  background: #f1cdb3;
}
.list-item_hover::after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: #f1cdb3;
  transition: 0.3s;
  cursor: pointer;
}
.list-item_hover-link:hover {
  color: #292929;
  transition: 0.4s;
}
.list-item_hover:hover {
  color: #292929;
  transition: 0.4s;
}

.our-friends-section {
  background: #f6f6f6;
}
.our-friends-section__friends-padding {
  padding: 8rem 0 10rem 0;
}
@media (max-width: 992px) {
  .our-friends-section__friends-padding {
    padding: 8rem 0 7.4rem 0;
  }
}
@media (max-width: 767px) {
  .our-friends-section__friends-padding {
    padding: 4rem 0 4.1rem 0;
  }
}

.friends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.friends__cards-items-padding {
  padding: 6rem 0;
}
@media (max-width: 992px) {
  .friends__cards-items-padding {
    padding: 3rem 0 4rem 0;
  }
}
@media (max-width: 767px) {
  .friends__cards-items-padding {
    padding: 4.3rem 0 4.5rem 0;
  }
}

.section-titles {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: 0;
  color: #ffffff;
  width: 80%;
}
@media (max-width: 767px) {
  .section-titles {
    text-align: center;
  }
}
.section-titles_space-letters {
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 767px) {
  .section-titles_space-letters {
    font-size: calc(2.5rem + 1.9 * (100vw - 320px) / 447);
  }
}
.section-titles_our-friends {
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .section-titles_our-friends {
    font-size: calc(2.5rem + 1.9 * (100vw - 320px) / 447);
    text-align: center;
    letter-spacing: 0.06em;
  }
}
.section-titles_footer-txt-color {
  width: 100%;
  color: #ffffff;
}
@media (max-width: 767px) {
  .section-titles_footer-txt-color {
    width: 97%;
  }
}

.cards-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 3.1rem;
  column-gap: 4rem;
}
@media (max-width: 767px) {
  .cards-items {
    align-self: center;
    row-gap: 3.2rem;
    width: calc(100% + -320 * (100vw - 320px) / 447);
  }
}
.cards-items__item-element {
  width: 22.5%;
  transition: 0.4s;
  border-radius: 9px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .cards-items__item-element {
    width: 38.2%;
  }
}
@media (max-width: 767px) {
  .cards-items__item-element {
    width: 90%;
  }
}
.cards-items__item-element:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.4s;
}
.cards-items__item-element:hover .cards-items__background {
  background: #ffffff;
  transition: 0.4s;
}
.cards-items__item-element:hover .main-button_lern-more {
  border: 2px solid #fddcc4;
  background: #fddcc4;
  transition: 0.4s;
}
.cards-items__animals {
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition: 0.4s;
}
.cards-items__background {
  width: 100%;
  padding-top: 3rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background: #fafafa;
  transition: 0.4s;
}
.cards-items__pets-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  text-align: center;
  color: #545454;
}
.cards-items__btn-padding {
  padding: 2.9rem 4rem;
}

.main-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
}
.main-button_lern-more {
  width: 100%;
  align-items: center;
  border: 2px solid #f1cdb3;
  background: transparent;
  transition: 0.4s;
}
.main-button_get-rest {
  margin: auto;
  width: 52px;
  align-items: center;
  background: transparent;
  border: 2px solid #f1cdb3;
  transition: 0.4s;
}
@media (max-width: 767px) {
  .main-button_get-rest {
    width: 48px;
    height: 48px;
    margin: 0;
  }
}
.main-button_get-rest:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.4s;
  cursor: pointer;
}
.main-button_disabled {
  background: #f1cdb3;
}
.main-button_disabled:hover {
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
  cursor: default;
}
.main-button_disabled-left {
  background: transparent;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  cursor: default;
}
.main-button_disabled-left:hover {
  cursor: default;
  background: transparent;
  border: 2px solid #cdcdcd;
}

.pagination {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .pagination {
    width: calc(40% + -10 * (100vw - 993px) / 287);
  }
}
@media (max-width: 992px) {
  .pagination {
    width: 51%;
  }
}
@media (max-width: 767px) {
  .pagination {
    width: calc(100% + -400 * (100vw - 320px) / 447);
  }
}

.footer {
  background-image: url(../../assets/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-footer-items {
  display: flex;
  gap: 16rem;
}
@media (max-width: 1200px) {
  .wrap-footer-items {
    gap: calc(6rem + 10 * (100vw - 993px) / 287);
  }
}
@media (max-width: 992px) {
  .wrap-footer-items {
    padding: 0 3.4rem;
    gap: 6rem;
  }
}
@media (max-width: 767px) {
  .wrap-footer-items {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-items {
    flex-direction: column;
    align-items: center;
  }
}
.footer-items__column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer-items__column_col-1 {
  width: 279px;
  row-gap: 4rem;
}
@media (max-width: 767px) {
  .footer-items__column_col-1 {
    align-items: center;
  }
}
.footer-items__column_col-2 {
  width: 302px;
  row-gap: 3.2rem;
}
@media (max-width: 767px) {
  .footer-items__column_col-2 {
    row-gap: 4rem;
  }
}
.footer-items__padding {
  margin-top: 5.6rem;
}
@media (max-width: 992px) {
  .footer-items__padding {
    margin-top: 3rem;
  }
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.item-links_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer-img-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .footer-img-container {
    max-width: calc(43% + -18 * (100vw - 768px) / 512);
  }
}
@media (max-width: 767px) {
  .footer-img-container {
    max-width: calc(86.5% + -44 * (100vw - 320px) / 447);
  }
}

.img-footer-puppi {
  width: 100%;
  margin-top: 4rem;
}
@media (max-width: 992px) {
  .img-footer-puppi {
    margin-top: 6.4rem;
  }
}
@media (max-width: 767px) {
  .img-footer-puppi {
    margin-top: 3.9rem;
  }
}

@media (max-width: 767px) {
  .hamburger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transition: 0.5s;
  }
  .hamburger::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #f1cdb3;
  }
  .hamburger::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #f1cdb3;
  }
  .hamburger__active {
    transform: rotate(90deg);
  }
  .hamburger__line {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #f1cdb3;
    top: 50%;
  }
  .hamburger-wrap {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
  }
  .hamburger-wrap__active {
    visibility: visible;
    transition: 0.1s;
    z-index: 4;
  }
  .navigation {
    display: block;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100%;
    width: 32rem;
    height: 100vh;
    padding: 3rem 0rem;
    background: #292929;
    transition: right 1s;
  }
  .navigation__active {
    right: 0;
  }
  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 41.5%;
    margin-top: 22rem;
  }
  .navigation__list-item {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 160%;
    color: #cdcdcd;
  }
  .list-item_active {
    color: #fafafa;
  }
  .list-item_active::after {
    width: 24.4rem;
  }
}
.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.popup-wrap__active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

@media (min-width: 0px) {
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
}
.popup__active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
@media (min-width: 0px) {
  .popup__wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 0px) {
  .popup__container {
    width: 900px;
    position: relative;
    background-color: transparent;
  }
}
@media (max-width: 992px) {
  .popup__container {
    min-width: 630px;
    padding: 0 6.9rem;
  }
}
@media (max-width: 767px) {
  .popup__container {
    min-width: 240px;
    padding: 0px 3.9rem;
  }
}
@media (min-width: 0px) {
  .popup__close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    left: 893px;
    top: -53px;
    background: transparent;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    transition: 0.4s;
  }
  .popup__close:hover {
    background: #fddcc4;
    transition: 0.4s;
  }
}
@media (max-width: 992px) {
  .popup__close {
    left: 690px;
  }
}
@media (max-width: 767px) {
  .popup__close {
    left: 260px;
  }
}
@media (min-width: 0px) {
  .popup__content {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 3.3rem;
    border-radius: 9px;
    background: #fafafa;
  }
}
@media (max-width: 992px) {
  .popup__content {
    width: 630px;
    column-gap: 1.3rem;
  }
}
@media (max-width: 767px) {
  .popup__content {
    width: 240px;
    margin: auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
@media (min-width: 0px) {
  .popup__img {
    min-width: 55%;
  }
}
@media (max-width: 767px) {
  .popup__img {
    display: none;
  }
}
@media (min-width: 0px) {
  .popup__img-pet {
    width: 100%;
  }
}
.popup__img-pet__active {
  border-radius: 100px;
}
@media (min-width: 0px) {
  .popup__info-container {
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 1rem;
  }
}
@media (max-width: 992px) {
  .popup__info-container {
    width: 42%;
  }
}
@media (max-width: 767px) {
  .popup__info-container {
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 0px) {
  .popup__info-container-padding {
    padding-top: 5rem;
  }
}
@media (max-width: 992px) {
  .popup__info-container-padding {
    padding-top: 1rem;
    padding-right: 0rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .popup__info-container-padding {
    padding-top: 1rem;
    padding-right: 0rem;
    font-size: 1.3rem;
  }
}
.popup__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0;
  color: #000000;
  letter-spacing: 0.2rem;
}
.popup__pet-discribe {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #000000;
}
.popup__discribe {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  padding-top: 3rem;
}
@media (max-width: 992px) {
  .popup__discribe {
    padding-top: 1rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 0px) {
  .popup__list {
    padding-left: 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    list-style: disc;
  }
}
@media (max-width: 992px) {
  .popup__list {
    padding-top: 1rem;
    row-gap: 0.5rem;
  }
}
@media (max-width: 767px) {
  .popup__list {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1.8rem;
    align-self: flex-start;
  }
}
.popup__pet-info {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  letter-spacing: 0.1em;
}
.popup__pet-info::marker {
  color: #fddcc4;
}

/*# sourceMappingURL=style.css.map */
