:root {
    --container-width: 1280px;
  }

  header {
      background-image: url(../../assets/images/start-screen-background.jpg);
  }

  .header-flex {
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 60px;
  }

  h1 {
    /* width: 184px;
    height: 35px; */
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
/*     
    display: flex;
    align-items: center; */
    letter-spacing: 0.06em;
    
    color: #F1CDB3;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .logo {
    /* width: 179px;
    height: 15px;
    left: 4px; */

    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    /* line-height: 15px; */
    
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.1em;
    
    /* color-light-xl */
    
    color: #FFFFFF;
    padding-top: 11px;
    padding-left: 4px;
  }

  li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 10px 0px;
    list-style-type: none;
  }

  ul {
      display: flex;
      flex-direction: row;
      /* justify-content: space-around;    */
      gap: 36px;
  }

  /* SECTION 1 */

  .section-1 {
      background-image: url(../../assets/images/start-screen-background.jpg);
      display: flex;
  }

  h2 {

    width: 310px;
    height: 114px;
    /* left: calc(50% - 310px/2 - 75px);
    bottom: 208px; */
    
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    
    /* display: flex;
    align-items: center; */
    
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 226px;
    
  }

  .not-only {
    width: 460px;
    height: 72px;
    /* left: calc(50% - 460px/2);
    bottom: 94px; */
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    
    /* display: flex;
    align-items: center; */
    
    color: #CDCDCD;
    padding-left: 40px;
    padding-top: 41px;
  }

  .img-puppi {
    padding-left: 43px;
    padding-top: 60px;
  }

  .make-a-friend-btn {
    padding-left: 40px;
    padding-top: 52px;
  }
  /* ////////////SECTION-2/////////////////// */

  .section-2 {
    display: flex;
    justify-content: space-around;
  }

  .about-the-shelter {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-right: 153px;
  }

  .cozy-house-h3 {

width: 370px;
/* height: 90px;
left: 0px;
top: 0px; */

/* h3 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

/* display: flex;
align-items: center; */
letter-spacing: 0.06em;



color: #545454;
  }

  .cozy-hous {
width: 430px;
/* height: 96px;
left: 0px;
top: 115px; */

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: #4C4C4C;
padding-top: 24px;
  }

.img-puppi-cat {
  padding-left: 153px;
  padding-top: 82px;
}

/* /////////////SECTION-3////////////////// */

h4 {
/* width: 83px;
height: 23px;
left: 94px;
top: 300px; */

/* pets-card-title */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* display: flex;
align-items: center; */
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}

.button-h5 {

/* left: 24.06%;
right: 24.06%;
top: 28.85%;
bottom: 28.85%; */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;


/* Inside auto layout */
/* 
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px; */
}

.lern-more {
  padding-top: 10px;
}

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 57px;
}

/* .flex-section-3 {
  display: flex;
  align-items: center;
} */

.text-center-h3 {
  width: 400px;
  height: 90px;
left: 400px;
top: 0px;

/* h3 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
  margin: auto;
  padding-top: 182px;
}

.flex-cards {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.get-to-know {
  text-align:center;
  
  padding-top: 115px;
}

.btn-section-3 {
}